@model CQRSCode.Read.Model.Captains.Dtos.CaptainDto
@{
    ViewData["Title"] = "Details";
}
<h2>Details:</h2>
Id: @Model.CaptainId<br />
num warrior: @Model.warriors<br />
num wizzard: @Model.wizard<br /><br />

@Html.ActionLink("Hire Wizard","HireWizard", new{Id=Model.CaptainId})<br />
@Html.ActionLink("Hire Warrior","HireWarrior", new{Id=Model.CaptainId})<br />

<a href="/">Back</a>